$primary-color: #5398c6;

body
{
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.navbar
{
    background: #297fb8;
    border-bottom: 1px solid $primary-color;
    
    .navbar-brand img
    {
        height: 2rem;
    }
    
    .navbar-nav li
    {
        padding-right: 10px;
        
        .nav-link
        {
            color: #fff;
            border-radius: 5px;
            padding: 5px 15px;
            
            &:hover
            {
                background: $primary-color;
            }
            &.active
            {
                color: #1fb8eb;
            }
        }
    }
    .navbar-toggler:hover
    {
        background: $primary-color;
    }
}
.banner
{
    width: 100%;
}
h1
{
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 2px 2px 2px #666;
}
h2
{
    font-size: 2.1rem;
}
h3
{
    font-size: 1.5rem;
    max-width: 80%;
    margin: 0 auto;
}
p
{
    font-size: 1.2rem;
}
img
{
    margin: 0 auto;
}
#icon
{
    max-width: 200px;
    margin: 1% auto;
}
#home
{
    padding-top: 60px;
}
#about
{
    background: #1fb8eb;
    
    .quote
    {
        margin: 0;
        padding-bottom: 60px;
    }
    h1
    {
        padding-bottom: 30px;
    }
}
#features
{
    margin: 0;
    background: #ff9800;
}
#portfolio
{
    background: #00b2ca;
}
#connect
{
    background: #673ab7;
}
.social a
{
    color: #fff;
    transition: all 1s ease-in-out;
    
    &:hover
    {
        color: #000;
    }
}