@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

$mainBlue: #40ACF1;
$transBlue: rgba(64, 172, 241, 0.7);
$mainWhite: #FFFFFF;
$mainBlack: #292F36;
$mainGrey: rgb(216, 214, 214);
$mainYellow: #e3b505;

body
{
    font-family: 'Playfair Display', serif;
    color: $mainBlack;
    background: $mainWhite;
}
/* preloader */
.preloader
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $mainWhite;
    z-index: 999;
}
.hidePreloader
{
    display: none!important;
}
/* special section */
.section-title-special
{
    background: $transBlue;
    color: $mainWhite;
    padding: .5rem 2rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
/* navbar */
#navBar
{
    background: $mainWhite;
    
    .navbar-toggler
    {
        outline-color: $mainBlue!important;
        
        .navbar-icon
        {
            font-size: 2rem;
            color: $mainBlue;
        }
    }
    
    .navbar-brand img
    {
        height: 2rem;
    }
    
    .nav-link
    {
        color: $mainBlack;
        text-transform: capitalize;
        
        &:hover
        {
            color: $mainBlue;
        }
    }
    
    .nav-icon
    {
        font-size: 1.5rem;
        color: $mainBlue;
        text-decoration: none;
        transition: 1.5s all linear;
        
        &:hover
        {
            color: $mainBlack;
        }
    }
}
/* header section */
.header
{
    color: $mainWhite;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    overflow: hidden;
    
    .height-max
    {
        background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.5)),url(../img/background.jpg);
        min-height: calc(100vh - 59px);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        animation-name: zoom;
        animation-duration: 20s;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        
        @keyframes zoom
        {
            0%
            {
                transform: scale(1);
            }
            50%
            {
                transform: scale(1.2) translateX(-5%);
            }
            100%
            {
                transform: scale(1);
            }
        }
    }
    
    .title-heading
    {
        background: rgba(0, 0, 0, .4);
        border-left: .3rem solid $mainBlue;
    }
    
    .title
    {
        font-weight: 700;
        font-size: 1.9rem;
        
        @media screen and (min-width:768px)
        {
            &
            {
                font-size: 3rem;
            }
        }
    }
    
    .title-icon
    {
        color: $mainBlue;
        text-decoration: none!important;
        
        &:hover
        {
            color: $mainBlue;
            opacity: .6;
        }
    }
}
/* skills */
.skills
{
    
    .skills-icon
    {
        font-size: 3rem;
        color: $mainYellow;
        background: $mainGrey;
        
        &:hover
        {
            color: $mainYellow;
        }
    }
    
    .skills-underline
    {
        width: 4rem;
        height: .3rem;
        background: $mainBlue;
        margin: 1rem auto;
    }
}
/* inventory */
.inventory
{
    background: $mainGrey;
    
    .watch-card
    {
        border-radius: 0!important;
        
        .watch-img
        {
            border-radius: 0;
        }
        
        .watch-value
        {
            background: $mainBlue;
            color: $mainWhite;
            clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
            transition: all 1s linear;
            
            &:hover
            {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        
        .card-footer i
        {
            padding-right: 5px;
        }
    }
}
/* question */
.question
{
    background: url(../img/questionB.jpg)center/cover fixed no-repeat;
    
    .question-grey
    {
        background: rgba(79, 109, 122, .75);
    }
    
    .question-yellow
    {
        background: rgba(227, 181, 5, .75);
    }
    
    .question-icon
    {
        font-size: 4rem;
        color: $mainBlue;
        transition: all 0.5s ease-in-out;
        
        &:hover
        {
            transform: translateY(-10%);
            color: $mainWhite;
        }
    }
    
    .question-info
    {
        color: $mainWhite;
    }
}
/* feature */
.feature
{
    background: $mainGrey;
    
    .featured-item
    {
        background: $mainWhite;
        border-radius: .5rem;
        opacity: .5;
        cursor: pointer;
        transition: all 1s ease-in-out;
        
        &:hover
        {
            opacity: 1;
            transform: scale(1.05);
        }
        
        .featured-icon
        {
            font-size: 1.5rem;
            color: $mainYellow;
            cursor: pointer;
            transition: all  .5s ease-in-out;
            
            &:hover
            {
                color: $mainBlue;
            }
        }
    }
    
    .img-container
    {
        background: $mainBlue;
        position: relative;
        overflow: hidden;
        
        &:hover .featured-photo
        {
            transform: scale(1.3);
            opacity: .5;
        }
        
        .featured-photo
        {
            transition: all 1s ease-in-out;
        }
        
        &:hover .featured-link
        {
            opacity: 1;
        }
        
        .featured-link
        {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 3rem;
            transform: translate(-50%, -50%);
            color: $mainBlack;
            opacity: 0;
            transition: all 1s ease-in-out;
            
            &:hover
            {
                color: $mainWhite;
            }
        }
    }
}
/* footer */
.footer
{
    background: $mainBlack;
    
    .footer-icon
    {
        font-size: 1.5rem;
        text-decoration: none;
        color: $mainYellow;
        transition: all 1s ease-in-out;
            
        &:hover
        {
             color: $mainBlue;
        }
    }
}





