@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
body {
  font-family: 'Playfair Display', serif;
  color: #292F36;
  background: #FFFFFF; }

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  z-index: 999; }

.hidePreloader {
  display: none !important; }

/* special section */
.section-title-special {
  background: rgba(64, 172, 241, 0.7);
  color: #FFFFFF;
  padding: .5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); }

/* navbar */
#navBar {
  background: #FFFFFF; }
  #navBar .navbar-toggler {
    outline-color: #40ACF1 !important; }
    #navBar .navbar-toggler .navbar-icon {
      font-size: 2rem;
      color: #40ACF1; }
  #navBar .navbar-brand img {
    height: 2rem; }
  #navBar .nav-link {
    color: #292F36;
    text-transform: capitalize; }
    #navBar .nav-link:hover {
      color: #40ACF1; }
  #navBar .nav-icon {
    font-size: 1.5rem;
    color: #40ACF1;
    text-decoration: none;
    transition: 1.5s all linear; }
    #navBar .nav-icon:hover {
      color: #292F36; }

/* header section */
.header {
  color: #FFFFFF;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  overflow: hidden; }
  .header .height-max {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
    min-height: calc(100vh - 59px);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation-name: zoom;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite; }

@keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2) translateX(-5%); }
  100% {
    transform: scale(1); } }
  .header .title-heading {
    background: rgba(0, 0, 0, 0.4);
    border-left: 0.3rem solid #40ACF1; }
  .header .title {
    font-weight: 700;
    font-size: 1.9rem; }
    @media screen and (min-width: 768px) {
      .header .title {
        font-size: 3rem; } }
  .header .title-icon {
    color: #40ACF1;
    text-decoration: none !important; }
    .header .title-icon:hover {
      color: #40ACF1;
      opacity: .6; }

/* skills */
.skills .skills-icon {
  font-size: 3rem;
  color: #e3b505;
  background: #d8d6d6; }
  .skills .skills-icon:hover {
    color: #e3b505; }

.skills .skills-underline {
  width: 4rem;
  height: .3rem;
  background: #40ACF1;
  margin: 1rem auto; }

/* inventory */
.inventory {
  background: #d8d6d6; }
  .inventory .watch-card {
    border-radius: 0 !important; }
    .inventory .watch-card .watch-img {
      border-radius: 0; }
    .inventory .watch-card .watch-value {
      background: #40ACF1;
      color: #FFFFFF;
      clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
      transition: all 1s linear; }
      .inventory .watch-card .watch-value:hover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .inventory .watch-card .card-footer i {
      padding-right: 5px; }

/* question */
.question {
  background: url(../img/questionB.jpg) center/cover fixed no-repeat; }
  .question .question-grey {
    background: rgba(79, 109, 122, 0.75); }
  .question .question-yellow {
    background: rgba(227, 181, 5, 0.75); }
  .question .question-icon {
    font-size: 4rem;
    color: #40ACF1;
    transition: all 0.5s ease-in-out; }
    .question .question-icon:hover {
      transform: translateY(-10%);
      color: #FFFFFF; }
  .question .question-info {
    color: #FFFFFF; }

/* feature */
.feature {
  background: #d8d6d6; }
  .feature .featured-item {
    background: #FFFFFF;
    border-radius: .5rem;
    opacity: .5;
    cursor: pointer;
    transition: all 1s ease-in-out; }
    .feature .featured-item:hover {
      opacity: 1;
      transform: scale(1.05); }
    .feature .featured-item .featured-icon {
      font-size: 1.5rem;
      color: #e3b505;
      cursor: pointer;
      transition: all  .5s ease-in-out; }
      .feature .featured-item .featured-icon:hover {
        color: #40ACF1; }
  .feature .img-container {
    background: #40ACF1;
    position: relative;
    overflow: hidden; }
    .feature .img-container:hover .featured-photo {
      transform: scale(1.3);
      opacity: .5; }
    .feature .img-container .featured-photo {
      transition: all 1s ease-in-out; }
    .feature .img-container:hover .featured-link {
      opacity: 1; }
    .feature .img-container .featured-link {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 3rem;
      transform: translate(-50%, -50%);
      color: #292F36;
      opacity: 0;
      transition: all 1s ease-in-out; }
      .feature .img-container .featured-link:hover {
        color: #FFFFFF; }

/* footer */
.footer {
  background: #292F36; }
  .footer .footer-icon {
    font-size: 1.5rem;
    text-decoration: none;
    color: #e3b505;
    transition: all 1s ease-in-out; }
    .footer .footer-icon:hover {
      color: #40ACF1; }
