body {
  font-family: 'Mr Dafoe', cursive;
  letter-spacing: 3px; }

.navbar {
  background-color: #3B3523; }
  .navbar-brand img {
    height: 2rem; }
  .navbar .nav-link {
    color: #d3325f !important; }
    .navbar .nav-link:hover {
      opacity: .7; }

.underline {
  border-bottom: 2px solid;
  width: 220px; }

#menu {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background.jpg);
  min-height: calc(100vh - 51px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 10%;
  background-size: cover; }
  #menu .height-90 {
    min-height: calc(100vh - 51px); }
  #menu h1 {
    color: #d3325f;
    font-size: 5rem; }

#covenant p {
  font-family: "Times New Roman"; }

#about {
  background-color: #2D3142;
  color: #d3325f; }
  #about .box {
    min-height: 100vh; }
    #about .box .contnt {
      background: #2D3142; }
      #about .box .contnt ul {
        font-family: "Times New Roman"; }
    #about .box .picture {
      background: url(../img/picture.jpg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%); }

#loot {
  background: #2D3142;
  color: #d3325f; }
  #loot .item-text {
    font-family: "Times New Roman"; }
  #loot .item-container {
    outline: solid 5px #3B3523;
    overflow: hidden;
    width: 150px;
    height: 149px;
    transition: all 2s ease; }
    #loot .item-container img {
      transition: all 2s ease; }
    #loot .item-container:hover img {
      transform: scale(1.2); }
  #loot .item-description {
    font-family: "Times New Roman"; }
    #loot .item-description p {
      font-size: .9rem; }
    #loot .item-description .item-dash {
      border-bottom: 4px solid #3B3523;
      width: 15rem; }

#review {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #2D3142; }
  #review .rev-text p {
    font-family: "Times New Roman"; }

#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2)); }
  #contact .contact-text p {
    font-family: "Times New Roman"; }
  #contact .form-group .form-control:focus {
    background-color: antiquewhite;
    color: black; }
  #contact .btn {
    font-family: "Times New Roman" !important; }

#footer {
  background: #2D3142; }
  #footer i {
    color: white;
    transition: .7s all ease; }
    #footer i:hover {
      color: #d3325f; }
