body {
  font-family: 'Happy Monkey', cursive; }

/*header section*/
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpeg) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*navbar section*/ }
  header .banner-center {
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .banner-center a {
      font-size: 30px;
      width: 300px;
      margin: 0 auto;
      display: inline-block;
      border: 3px solid whitesmoke;
      color: whitesmoke;
      text-decoration: none;
      border-radius: 20px; }
      header .banner-center a:hover, header .banner-center a:focus {
        color: #F15025;
        background: whitesmoke; }
    header .banner-center .banner-underline {
      width: 380px;
      border: 3px solid #F15025;
      margin: 0 auto 20px; }
  header .navbar.transparent {
    background: rgba(0, 0, 0, 0.5); }
  header .navbar a:hover {
    color: whitesmoke !important; }
  header .navbar .navbar-toggler-icon {
    border: 5px solid black;
    padding: 20px;
    background-color: #F15025; }
  header .navbar .nav-link {
    color: #F15025 !important;
    font-style: italic;
    font-size: 20px; }
  header .navbar .navbar-brand img {
    height: 1.8rem; }

/*title*/
.title {
  margin: 20px 0; }
  .title .text-underline {
    width: 150px;
    border: 3px solid #F15025;
    margin: 0 auto 10px auto; }

/*skills section*/
#skills {
  padding: 40px;
  color: #2D3142;
  margin-bottom: 10px; }
  #skills.fa {
    margin-bottom: 10px; }
  #skills a {
    margin-bottom: 20px;
    background: #F15025;
    color: whitesmoke;
    font-size: 1.2rem; }
    #skills a:hover {
      background: #CED0CE;
      color: #F15025; }

/*about section*/
#about {
  background: #2D3142; }
  #about .pic {
    height: 600px;
    background: url(../img/cofe.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 150px solid #2D3142; }
  #about .box {
    display: flex;
    flex-direction: column;
    justify-content: center; }

/*contact section*/
#contact {
  padding: 40px;
  background: whitesmoke; }
  #contact .form-control {
    border-radius: 0 !important;
    font-size: 1.2rem; }
  #contact button {
    background: #353531;
    color: #F15025;
    font-size: 1.5rem;
    margin-bottom: 20px; }
    #contact button:hover {
      background: #CED0CE; }

/*footer section*/
#footer {
  padding: 40px;
  color: whitesmoke;
  background: #353531; }
  #footer .text-underline {
    margin-bottom: 40px; }
  #footer .footer-icons {
    padding-top: 30px; }
    #footer .footer-icons a {
      color: deepskyblue;
      text-decoration: none;
      margin: .7rem .7rem; }
      #footer .footer-icons a:hover {
        color: #F15025; }
  #footer .copyright {
    padding: 40px 0;
    color: #CED0CE; }
