$brown: #3B3523;
$red: #d3325f;
$blue: #2D3142;

body
{
    font-family: 'Mr Dafoe', cursive;
    letter-spacing: 3px;
}
.navbar
{
    background-color: $brown;
    
    &-brand img
    {
        height: 2rem;
    }
    
    .nav-link
    {
        color: $red!important;
        
        &:hover
        {
            opacity: .7;
        }
    }
}
.underline
{
    border-bottom: 2px solid;
    width: 220px;
}
#menu
{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/background.jpg);
    min-height: calc(100vh - 51px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 10%;
    background-size: cover;
    
    .height-90
    {
        min-height: calc(100vh - 51px);
    }
    
    h1
    {
        color: $red;
        font-size: 5rem;
    }
}
#covenant
{
    
    & p
    {
        font-family: "Times New Roman";
    }
}
#about
{
    background-color: $blue;
    color: $red;
    
    .box
    {
        min-height: 100vh;
        
        .contnt
        {
            background: $blue;

            & ul
            {
                font-family: "Times New Roman";
            }
            
        }

        .picture
        {
            background: url(../img/picture.jpg);

            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        }
    }
}
#loot
{
    background: $blue;
    color: $red;
    
    .item-text
    {
        font-family: "Times New Roman";
    }
    
    .item-container
    {
        outline: solid 5px $brown;
        overflow: hidden;
        width: 150px;
        height: 149px;
        transition: all 2s ease;
        
        img
        {
            transition: all 2s ease;
        }
        
        &:hover img
        {
            transform: scale(1.2);
        }
    }
    
    .item-description
    {
        font-family: "Times New Roman";
        
        & p
        {
            font-size: .9rem;
        }
        
        .item-dash
        {
            border-bottom: 4px solid $brown;
            width: 15rem;
        }
    }
}
#review
{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../img/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $blue;
    
    .rev-text
    {

        & p
        {
            font-family: "Times New Roman";
        }
    }
}
#contact
{
    background: linear-gradient(rgba(0,0,0,.5),rgba(255,255,255,.2));
    
    .contact-text
    {
        & p
        {
            font-family: "Times New Roman";
        }
    }
    
    .form-group
    {
        .form-control:focus
        {
            background-color: antiquewhite;
            color: black;
        }
    }
    
    .btn
        {
            font-family: "Times New Roman"!important;
        }
}
#footer
{
    background: $blue;
    
    & i
    {
        color: white;
        transition: .7s all ease;
        
        &:hover
        {
            color: $red;
        }
    }
}