body 
{
	overflow-x: hidden; /*--right gutter fix--*/
    font-family: sans-serif;
    color: #505962;
}
.navbar
{
    text-transform: uppercase;
    background-color: #505962;
}
.navbar-brand img
{
    height: 2rem;
}
.home-inner
{
    background-image: url('img/landing.png');
}
.caption
{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
}
.caption h3
{
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.btn
{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size: .9rem;
}
h3.heading
{
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.padding
{
    padding: 2rem 0;
}
img.portfolio
{
    max-width: 100%;
}
.no-padding .col-md-6
{
    padding: 0;
}
.card
{
    margin: 2rem;
}
.footer .row
{
    background-color: #505962;
    padding: 1rem 2rem 3rem;
    color: white;
}
.footer img
{
    height: 2rem;
    margin: 1.5rem 0;
}






/*--- iOS Landing Page Fix --*/
.landing 
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap 
{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner 
{
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
