body
{
	margin: 0;
	background-image: url("backg.png");
	background-repeat: repeat;
	font-size: 18px;
}
.logo
{
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 25px;
	margin-bottom: 25px;
}
nav
{
	background-color: rgba(171, 182, 201, 0.7);
	text-align: center;
}
.menu
{
	list-style-type: none;
	padding: 20px;
	min-height: 40px;
	font-size: 22px;
	line-height: 200%;
}
.menu > li
{
	display: inline-block;
	width: 150px;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #7287a3;
}
.menu > li:first-child
{
	border-left: 1px solid #7287a3;
}
.menu a
{
	color: #47494c;
	text-decoration: none;
}
.menu a:hover
{
	color: black;
}
#oferta
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0;
	text-align: center;
	width: 1000px;
	min-height: 200px;
	background-color: rgba(225, 227, 232, 0.7);
	border-radius: 25px;
}
.zdjfirma
{
	display: inline-block;
	width: 390px;
}
.zdjfirma figure
{
	margin: 20px 20px;
}
.zdjfirma img
{
	width: 350px;
	height: 300px;
	border-radius: 10px;
}
.opfirma
{
	display: inline-block;
	width: 570px;
	text-align: justify;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 20px;
}
.opfirma h1
{
	text-align: center;
}
#firma
{
	background-color: rgba(152, 153, 155, 0.7);
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#firma h1
{
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}
#firma img
{
	width: 300px;
	height: 300px;
	opacity: 0.8;
	border-radius: 10px;
}
#firma img:hover
{
	cursor: pointer;
	opacity: 1;
}
.prezes
{
	display: inline-block;
}
#prezesOpis
{
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
}
#prezesOpis p
{
	margin-top: 0;
}
#prezesOpisB
{
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
}
#prezesOpisB p
{
	margin-top: 0;
}
.opis
{
	background-color: rgba(36, 36, 38, 0.7);
	color: #ededf2;
	margin-top: 0;
	text-align: justify;
}
.ukrycie
{
	text-align: center; 
	text-decoration: underline;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.ukrycie:hover
{
	cursor: pointer;
}
#aktualne
{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: auto;
}
.wpis
{
	display: inline-block;
	width: 550px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
}
.wpis h1
{
	text-align: center;
	letter-spacing: 2px;
}
.wpis:first-child
{
	border-right: 1px solid #7287a3;
}
.sliderInner
{
	width: 1300px;
	height: 200px;
	position: relative;
	overflow: hidden;
	float: left;
}
.entry
{
	width: 1300px;
	height: 200px;
	display: none;
}
.active
{
	display: inline-block;
}
.prev, .next
{
	float: left;
	margin-top: 100px;
	cursor: pointer;
}
.prev
{
	position: relative;
	margin-right: -45px;
	z-index: 100;
}
.next
{
	position: relative;
	margin-left: -45px;
	z-index: 100;
}
#kontakt
{
	background-color: #fff;
	text-align: center;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
#kontakt h1
{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 28px;
}
#kontakt label
{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}
#kontakt label p
{
	text-transform: uppercase;
	font-weight: bold;
}
#kontakt button
{
	text-transform: uppercase;
	font-weight: bold;
	width: 100px;
	height: 40px;
	margin-top: 10px;
	color: #549977;
	background-color: #fff;
	border: 3px solid #549977;
}
#kontakt button:hover
{
	cursor: pointer;
	background-color: #dce2df;
}
.message
{
	width: 600px;
	height: 300px;
	resize: none;
	font-size: 12px;
}
.status
{
	font-weight: bold;
	color: red;
}
.pasekIkon
{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 200;
}
.pasekIkon a
{
	display: block;
	text-align: center;
	padding: 10px;
	color: white;
	font-size: 20px;
}
.pasekIkon a:hover
{
	background-color: #000;
}
.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
.info
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	color: white;
	background-color: #363738;
	text-transform: uppercase;
	font-weight: 900;
	padding: 15px 0;
}