$orange: #F15025;
$black: #353531;
$blue: #2D3142;
$grey: #CED0CE;

body
{
    font-family: 'Happy Monkey', cursive;
}
/*header section*/
header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner.jpeg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .banner-center
    {
        height: 100vh;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        & a
        {
            font-size: 30px;
            width: 300px;
            margin: 0 auto;
            display: inline-block;
            border: 3px solid whitesmoke;
            color: whitesmoke;
            text-decoration: none;
            border-radius: 20px;
            
            &:hover, &:focus
            {
                color: $orange;
                background: whitesmoke;
            }
        }
        
        .banner-underline
        {
            width: 380px;
            border: 3px solid $orange;
            margin: 0 auto 20px;
        }
    }
    
    /*navbar section*/
    .navbar
    {
        
        
        &.transparent
        {
            background: rgba(0,0,0,.5);
        }
        
        & a:hover
        {
            color: whitesmoke!important;
        }
        
        .navbar-toggler-icon
        {
            border: 5px solid black;
            padding: 20px;
            background-color: $orange;
        }
        
        .nav-link
        {
            color: $orange!important;
            font-style: italic;
            font-size: 20px;
        }
        
        .navbar-brand img
        {
            height: 1.8rem;
        }
    }
}
/*title*/
.title
{
    margin: 20px 0;
    
    .text-underline
    {
        width: 150px;
        border: 3px solid $orange;
        margin: 0 auto 10px auto;
    }
}
/*skills section*/
#skills
{
    padding: 40px;
    color: $blue;
    margin-bottom: 10px;
    
    &.fa
    {
        margin-bottom: 10px;
    }
    
    & a
    {
        margin-bottom: 20px;
        background: $orange;
        color: whitesmoke;
        font-size: 1.2rem;
        
        &:hover
        {
            background: $grey;
            color: $orange;
        }
    }
}
/*about section*/
#about
{
    background: $blue;
    
    .pic
    {
        height: 600px;
        background: url(../img/cofe.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 600px solid transparent;
        border-left: 150px solid $blue;
    }
    
    .box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/*contact section*/
#contact
{
    padding: 40px;
    background: whitesmoke;
    
    .form-control
    {
        border-radius: 0!important;
        font-size: 1.2rem;
    }
    
    & button
    {
        background: $black;
        color: $orange; 
        font-size: 1.5rem;
        margin-bottom: 20px;
        
        &:hover
        {
            background: $grey;
        }
    }
}
/*footer section*/
#footer
{
    padding: 40px;
    color: whitesmoke;
    background: $black;
    
    .text-underline
    {
        margin-bottom: 40px;
    }
    
    .footer-icons
    {
        padding-top: 30px;
        
        & a
        {
            color: deepskyblue;
            text-decoration: none;
            margin: .7rem .7rem;
            
            &:hover
            {
                color: $orange;
            }
        }
    }
    
    .copyright
    {
        padding: 40px 0;
        color: $grey;
    }
}

