body
{
    padding: 0%;
    margin: 0%;
    font-family: "sans-serif";
}
.navbar
{
    background-color: darkgray;
}
.navbar-brand img
{
    height: 2rem;
}
.nav-link
{
    font-size: 1.2rem;
    margin: .9rem;
    color: black !important;
}
.nav-link:hover
{
    color: #00E8E8 !important;
}
.nav-link.active
{
    color: #00E8E8 !important;
}
.menu-right-btn
{
    padding: .8rem 2.5rem;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}
.menu-right-btn:hover
{
    color: white;
    background-color: #00E8E8 !important;
}
.site-content
{
    background-image: url("img/1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.site-title, .site-desc
{
    color: white;
}
.site-title
{
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 3rem;
}
.site-desc
{
    font-size: 1rem;
    padding-left: 15%;
}
.site-btn1
{
    margin-left: 20%;
    background-color: black;
    color: white;
    min-width: 8rem;
}
.site-btn2
{
    background-color: white;
    min-width: 8rem;
}
.site-btn1, .site-btn2
{
    margin-top: 5%;
    margin-bottom: 40%;
}
.section-1 .heading-1
{
    margin-top: 8%;
}
.section-1 .heading-2
{
    margin-bottom: 5%;
    font-size: 3rem;
}
.section-1 .par-1
{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}
.section-1 .card-text, .par-1
{
    color: rgba(0,0,0,0.59);
}
.card
{
    margin: auto;
    max-width: 100%;
}
.section-1
{
    margin-bottom: 8%;
}
.section-2 .container-fluid
{
    background-image: url(img/8.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.section-2 .heading-1
{
    margin-top: 20%;
    margin-bottom: 4%;
    width: 80%;
    color: whitesmoke;
}
.section-2 .par
{
    width: 80%;
    color: whitesmoke;
    margin-bottom: 7%;
}
.section-2 .btn
{
    margin-bottom: 15%;
    width: 40%;
    padding: 2% 5%;
}
.section-3
{
    margin-top: 6%;
}
.section-3 i
{
    color: #00E8E8;
}
.section-3 p
{
    color: rgba(0,0,0,0.59);
}
.section-4
{
    margin-top: 8%;
}
.section-4 .col-md-7, .col-md-5
{
    /*margin-top: 10%;
    margin-bottom: 10%;*/
    margin: 10% auto;
}
.section-4 .col-md-7
{
    text-align: center;
}
.section-4 .col-md-7 img
{
    max-width: 100%;
}
.section-4 a
{
    color: lightseagreen;
    font-size: 3rem;
    text-decoration: none;
}
.section-4 a:hover
{
    opacity: 0.7;
}
.section-4 .par-1
{
    color: white;
    margin-top: 7%;
    font-size: 1.3rem;
}
.section-5 h4
{
    margin-top: 5%;
}
.social i
{
    color: #EF5651;
    font-size: 1.2rem;
}
@media screen and (max-width: 768px)
{
    .section-1 .card
    {
        width: 14rem;
    }
    .section-4 .col-md-7 img
    {
        width: 350px;
    }
}

